<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>C2 Walaris</title>
  <link rel="icon" href="data:," />
  <link rel="stylesheet" href="/static/c2-board.css" />
  <script src="/static/vendor/tailwindcss.browser.js"></script>
  <style type="text/tailwindcss">
    @theme {
      --color-c2-ember: #f97316;
    }
  </style>
  <script src="/static/vendor/htmx_2_0_0.min.js" defer></script>
  <script src="/static/vendor/alpinejs.min.js" defer></script>
</head>
<body>
  {% block content %}{% endblock content %}
  {% if tile_config_json and tile_config_json != "" %}
  <script>
    window.C2_TILE_CONFIG = {{ tile_config_json | safe }};
  </script>
  {% endif %}
  {% if weather_config_json and weather_config_json != "" %}
  <script>
    window.C2_WEATHER_CONFIG = {{ weather_config_json | safe }};
  </script>
  {% endif %}
  {% if flight_config_json and flight_config_json != "" %}
  <script>
    window.C2_FLIGHT_CONFIG = {{ flight_config_json | safe }};
  </script>
  {% endif %}
  {% if satellite_config_json and satellite_config_json != "" %}
  <script>
    window.C2_SATELLITE_CONFIG = {{ satellite_config_json | safe }};
  </script>
  {% endif %}
  {% if ship_config_json and ship_config_json != "" %}
  <script>
    window.C2_SHIP_CONFIG = {{ ship_config_json | safe }};
  </script>
  {% endif %}
  <script src="/static/vendor/hls.min.js" defer></script>
  <script type="module" src="/static/ui.js"></script>
</body>
</html>
